apiVersion: v1
kind: Service
metadata:
  name: jobportal-container-app-service
spec:
  type: NodePort
  selector:
    app: jobportal
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
      nodePort: 30013
      